# Credentials & env
.env
*.json  # service account keys

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Airflow
logs/
airflow.db
airflow.cfg

# Data files
data/raw/
data/staging/
*.csv
*.parquet

# OS
.DS_Store
